.grid-container{
    display: grid;
    background-color: rgb(243, 208, 163);
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    /* grid-template: 50px 90px/auto auto 280px; */
    grid-gap: 10px;
    padding: 10px;
}

.grid-item{
    background-color: rgba(210, 105, 30, 0.683);
    border: 2px solid blanchedalmond;
    padding: 10px;
    color: rgb(255, 242, 166);
    text-align: center;
    font-size: x-large;
    border-radius: 10px 0 10px 0;   
    /* grid-row-end: 2; */
}

#item1{
    /* grid-row-start: 1; */
}
/* .grid-item:hover{
    grid-row-end: 1;
    transition: 1s;
} */