body {
    background-color: aquamarine;
    margin: 0;
    display: flex;
    justify-content: center;
    color: red;
    align-items: center;
}

.profile-card {
    background-color: white;
    border-radius: 15px;
    width: 300px;
}img{
    height: 380px;
    width: 300px;
    border-radius: 10px;
}
.profile-card .profile-img img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 5px solid burlywood;
}
h2{
    text-align: center
}

.profile-card .name {
    color: black;
    font-size: 2px;
    font-weight: bold;
    margin: 15px;
}

.profile-card .bio {
    color:azure;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.social-profile .profile-card {
    margin-top: 60px;
    text-align: center;
}

.profile-card, .social-profile,  .btn{
    border-radius: 50%;
    text-decoration: none;
    background-color: purple;
    padding: 12px;;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}
.view-profile{
    text-align: center;
    color: aliceblue;
}